/* @import url(mylibs/forms.css); */

/* 320

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http: //stuffandnonsense.co.uk/projects/320andup/
License: http: //creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC
16.TEMPLATE SPECIFICS
17.MODERNIZR

COLOURS

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote: before, blockquote: after, q: before, q: after {
  content: ""; content: none;
}

del { text-decoration: line-through;
}
ins {
  background-color: rgb(255,255,153);
  color: rgb(0,0,0);
  text-decoration: none;
}

mark {
  background-color: rgb(255,255,153);
  color: rgb(0,0,0);
  font-style: italic;
  font-weight: bold;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(204,204,204);
  margin: 1em 0;
  padding: 0;
}

/* 1.ROOT */

html {
  overflow-y: scroll;
  background: rgb(250,250,250) url(/images/style/fabric_1.png) repeat 50% 0;
  font-size: 16px;
  line-height: 24px;
}

body {
  margin: 0 auto;
  padding: 1.5em 0;
  width: 80%;
  background-color: transparent;
  color: rgb(40,40,40);
  position: relative;
}

body,
dt,blockquote,cite,
.run-in,.pullquote,.drop-cap{
  font-family: Georgia, serif;
}

h1 {
  font-family: "atrement-web-1", "atrement-web-2", "Helvetica Neue", Arial, sans-serif;
  letter-spacing: -1px;
  font-weight: bold;
}
.wf-active h1 {
  font-weight: normal;
  letter-spacing: 0;
}

h2, h3, h4, h5, h6,
.sidenote h1, aside h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
  letter-spacing: 0;
}

p, ul, ol, form {
  margin: 0 0 1.5em;
}

abbr {
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.1em;
}
p {
  margin-bottom: 0;
  hyphenate: auto;
  hyphenate-before: 2;
  hyphenate-after: 3;
  hyphenate-lines: 3;
  orphans: 4;
}
p span.pullquote {
  text-indent: 0;
}

/*Compositional Elements*/
.superscript {
  font-family: sans-serif;
  vertical-align: super;
  font-size: 0.75em;
  margin-right: 0.4em;
  margin-left: 0.2em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  line-height: 0;
}
.subscript {
  font-family: sans-serif;
  vertical-align: sub;
  font-size: 0.75em;
  margin-right: 0.4em;
  margin-left: 0.2em;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  line-height: 0;
}
a.superscript,a.subscript {
  text-decoration: none;
}

/*
.footnote {
  border-top: 1px solid black;
  font-size: 0.875em;
  margin-top: 3.5em;
}
.footnote li {
  margin: 1.5em 0 1.5em;
  word-spacing: 0.1em;
  line-height: 1.75;
}
.footnote .run-in {
  text-transform: uppercase;
  font-size: 1em;
}
*/

.caption {
  font-size: 1em;
  font-style: italic;
  margin: 0.6em 0 -0.2em;
  opacity: 0.6;
}
.run-in {
  font-style: italic;
  font-weight: bold;
  font-size: 1.125em;
  line-height: 1.25;
}

/* 2.HEADINGS */

h1 {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0 0 1em;
  border-top: 0.125em solid #000;
  border-bottom: 0.0416666667em solid #ccc;
  padding: 0.125em 0 1.125em;
}

h2 {
  font-family: "Helvetica Neue", "Arial", "Helvetica", sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin: 1.5em 0 0.5em 0;
  font-weight: bold;
  text-transform: uppercase;
}

h1+img, h2+img {
  margin-top: 0.75em;
}

h3 {
  font-size: 1.125em;
  line-height: 0.8889em;
  margin: 0 0 0.44444em;
  font-style: italic;
}

h4 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 1em 0 0.5em;
}

/* 3.TYPOGRAPHY */

p, ol, ul, dl, address {
  font-size: 1em;
  margin-bottom: 1.5em;
}

ul, ol {
  margin: 0 0 1.5em -1.5em;
  padding-left: 1.5em;
}

ul {
  list-style-position: outside;
  list-style-type: disc;
}
ol {
  list-style-position: outside;
  list-style-type: decimal;
}
li {
  margin-bottom: 0.75em;
}

dl {
  margin: 1.75em 0;
}
dt {
  margin-top: 1.25em;
  font-size: 1.13em;
  font-weight: 700;
}
dd {
  font-style: italic;
  font-size: 1em;
  margin-top: 1em;
  margin-right: 5em;
  border-left: 1px solid #ccc;
  padding-left: 1em;
}

blockquote {
  font-style: italic;
  margin-right: 5em;
}
blockquote: before {
  font-family: Monaco,Consolas,"Lucida Console",monospace;
  content: "“";
  font-size: 2.1em;
  font-style: normal;
  text-indent: -0.75em;
  float: left;
  opacity: 0.3;
/*  line-height: 1.25;*/
}
cite {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-top: 0.75em;
  font-weight: 900;
  font-style: normal;
  font-size: 0.85em;
}
cite: before {
  content: "—";
  margin-left: -1.75em;
  margin-right: 0.5em;
  opacity: 0.3;
}

b,
strong  {
font-weight: bold;
}

i,
em {
font-style: italic;
}

sup,
sub {
position: relative;
font-size: 75%;
line-height: 0;
}

sup {
top: -.5em;
}

sub {
bottom: -.25em;
}

address {
font-style: normal;
}

pre {
  padding: 0.75em;
  border: 1px solid #ccc;
  background: #ddd;
  margin: 1.5em 0 0;
}
code, pre code {
  font-family: Consolas, "Lucida Console", Monaco, monospace;
}
p code, li code,*: not(pre) code {
  background-color: #ddd;
  padding: 0.15em 0.3em;
  font-size: 0.9em;
}

small {
  display: block;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  margin: 1.6em 0 -0.4em;
  opacity: 0.6;
}

/* 4.LINKS */

a, a:visited {
  outline: none;
  color: rgb(80,50,50);
  text-decoration: none;
  border-bottom: 1px dotted rgb(80,80,80);
}

a:hover {
  outline: none;
  color: rgb(50,20,20);
  border-bottom: 1px solid rgba(80,80,80, 0.5);
}

a:active, a:focus {
  outline: none;
  color: rgb(20,0,0);
}

/* 5.FIGURES & IMAGES */

figure {
  margin: 1.5em -2%;
}

figure img,
figure object,
figure embed {
  display: block;
  padding: 2%;
  max-width: 94%;
  background-color: rgb(220,220,220);
}
.rgba figure img,
.rgba figure object,
.rgba figure embed {
  background-color: rgba(20,20,20,0.25);
}
.borderradius figure img,
.borderradius figure object,
.borderradius figure embed {
  -webkit-border-radius: 0.25em;
     -moz-border-radius: 0.25em;
       -o-border-radius: 0.25em;
          border-radius: 0.25em;
}

figcaption {
  display: block;
  font-weight: normal;
}

/* 6.TABLES */

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 2em;
  width: 100%;
  font-size: .75em; /* 14 / 16 = .875 */
  line-height: 1.5; /* 14 / 16 = .875 */
}

th {
  font-weight: bold;
}

th, td, caption {
  padding: .25em 10px .25em 0;
}

tfoot {
  font-style: italic;
}

caption {
  background-color: transparent;
}

/* 7.FORMS (See css/mylibs/forms.css) */

/* 8.BANNER */

header[role=banner],
header[role=banner] hgroup {
  position: relative;
}
header[role=banner] h1 {
  padding-bottom: 3.475em;
}

header[role=banner] h1 a {
  border-bottom: none;
}
header[role=banner] a,
header[role=banner] a:link, header[role=banner] a:visited,
header[role=banner] a:hover, header[role=banner] a:active, header[role=banner] a:focus {
  color: rgb(0,0,0);
}

header[role=banner] h2 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 1.125em;
  line-height: 1.33333333;
  font-weight: normal;
  text-transform: none;
  position: absolute;
  bottom: -1px;
  left: 0;
}
header[role=banner] h2 .amp {
  position: relative;
  font-family: "Baskerville", "Constantia", "Palatino", "Palantino Linotype", "Times New Roman", Times, serif;
  font-style: italic;
  font-size : 1.11111111111em;
  line-height: 1.2;
}

header[role=banner] #links {
  position: absolute;
  top: 0.175em;
  right: 0;
}
header[role=banner] #links a {
  display: block;
  float: left;
  width: 34px;
  height: 42px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  border: none;
}
.opacity header[role=banner] #links a {
  opacity: 0.2;
}
.cssanimations header[role=banner] #links a {
  -webkit-transition-property: height;
     -moz-transition-property: height;
       -o-transition-property: height;
          transition-property: height;
  -webkit-transition-duration: .5s;
     -moz-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}
.opacity.cssanimations header[role=banner] #links a {
  -webkit-transition-property: height, opacity;
     -moz-transition-property: height, opacity;
       -o-transition-property: height, opacity;
          transition-property: height, opacity;
}
.borderradius header[role=banner] #links a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
       -o-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}
header[role=banner] #links a:hover,
header[role=banner] #links a:focus {
  height: 48px;
}
.opacity header[role=banner] #links a:hover,
.opacity header[role=banner] #links a:focus {
  opacity: 1;
}
header[role=banner] #links .twitter {
  background-image: url(/images/style/twitter-banner.png);
}
header[role=banner] #links .facebook {
  background-image: url(/images/style/facebook-banner.png);
}
header[role=banner] #links .github {
  background-image: url(/images/style/github-banner.png);
}
header[role=banner] #links .dribbble {
  background-image: url(/images/style/dribbble-banner.png);
}

#promotion {
  display: none;
}

/* 9.NAVIGATION */
/* 10.CONTENT */

.single p:first-child {
  font-weight: 100;
  font-style: italic;
}

.more {
  margin-bottom: 1.5em;
}

/* 11.MAIN */

.hentry header {
  position: relative;
}
.hentry .author {
  display: none;
}
.hentry time {
  color: #999;
  position: absolute;
  bottom: 0; right: 0;
  font-size: 0.875em;
  line-height: 1.7142857143;
}

/* 12.COMPLIMENTARY */

aside h1, .wf-active aside h1 {
  font-size: 1.25em; /* 20 */
  line-height: 1.2; /* 24 / 20 */
  border-top: 0.15em solid #000;
  border-bottom: none;
  margin: 0;
  padding: 0.45em 0 0.6em;
}
aside p, .sidenote p {
  font-style: normal;
}
aside ul, aside ol, .sidenote ul, .sidenote ol {
}

/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */

.clearfix {
zoom: 1;
}

.clearfix: before,
.clearfix: after {
content: "\0020";
display: block;
height: 0;
overflow: hidden;
}

.clearfix: after {
clear: both;
}

/* 15.VENDOR-SPECIFIC */

body {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}

a: link {
-webkit-tap-highlight-color: rgb(52,158,219);
}

: :-webkit-selection {
background: rgb(23,119,175);
color: rgb(250,250,250);
text-shadow: none;
}

: :-moz-selection {
background: rgb(23,119,175);
color: rgb(250,250,250);
text-shadow: none;
}

: :selection {
background: rgb(23,119,175);
color: rgb(250,250,250);
text-shadow: none;
}

: :-webkit-input-placeholder {
padding: 10px;
font-size: .875em;
line-height: 1.4;
}

input: -moz-placeholder {
padding: 10px;
font-size: .875em;
line-height: 1.4;
}

.ie7 img,
.iem7 img {
-ms-interpolation-mode: bicubic;
}

div,
input,
textarea  {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
box-sizing: border-box;
}

/* Non-semantic helper classes */

/* Image replacement */
.ir {
display: block;
text-indent: -999em;
overflow: hidden;
background-repeat: no-repeat;
text-align: left;
direction: ltr;
}

/* Hide for screenreaders and visual browsers */
.hidden {
display: none;
visibility: hidden;
}

/* Hide visually */
.visuallyhidden {
position: absolute;
clip: rect(0 0 0 0);
overflow: hidden;
margin: -1px;
padding: 0;
height: 1px;
width: 1px;
border: 0;
}

/* Allow an element to be focusable via keyboard  */
.visuallyhidden.focusable: active,
.visuallyhidden.focusable: focus {
position: static;
clip: auto;
overflow: visible;
height: auto;
margin: 0;
width: auto;
}

/* Hide but maintain layout */
.invisible {
visibility: hidden;
}

/* 16.TEMPLATE SPECIFICS */

#goog-fixurl ul  {
list-style-type: none;
}

#goog-fixurl input  {
margin-bottom: 1.5em;
}

/* 17.MODERNIZR */
