!!! 5
:plain
  <!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
  <!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]-->
  <!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]-->
  <!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]-->
  <!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
%head
  %meta{ :charset => "utf-8" }

  %title= title
  %meta{ :name => "description", :content => "The blog of Andy Croll • British designer & developer living in Singapore" }
  %meta{ :name => "author", :content => "Andy Croll" }

  %link{ :rel => "canonical", :href => "" }
  %link{ :rel => "author", :type => "text/plain", :href => "/humans.txt" }
  %link{ :rel => "alternate", :type => "application/atom+xml", :title => "#{title} - RSS", :href => "http://feeds.feedburner.com/andycroll" }

  -# http://t.co/dKP3o1e - decent, consistant mobile scaling and zooming
  %meta{ :name => "HandheldFriendly", :content => "True" }
  %meta{ :name => "MobileOptimized", :content => "320" }
  -# removed target-densitydpi=160dpi from below
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }

  -# iOS thumbs
  %link{ :rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 163dpi)", :href => "/images/icons/ios-57px.png" }
  %link{ :rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 132dpi)", :href => "/images/icons/ios-72px.png" }
  %link{ :rel => "apple-touch-icon-precomposed", :media => "screen and (resolution: 326dpi)", :href => "/images/icons/ios-114px.png" }

  -# Microsoft. Delete if not required
  %meta{ :'http-equiv' =>"cleartype", :content => "on" }
  %meta{ :'http-equiv' => "X-UA-Compatible", :content => "IE=edge,chrome=1" }

  -# STYLESHEETS
  -# For less capable mobile browsers
  %link{ :rel => "stylesheet", :media => "handheld", :href => "/stylesheets/handheld.css?v=1" }

  -# For all browsers
  %link{ :rel => "stylesheet", :media => "screen, projection", :href => "/stylesheets/style.css" }
  %link{ :rel => "stylesheet", :media => "print", :href => "/stylesheets/print.css" }
  /[if IE 6]
    %link{ :rel => "stylesheet", :media => "screen, projection", :href => "http://universal-ie6-css.googlecode.com/files/ie6.0.3.css" }

  -# JavaScript at bottom except for Modernizr
  %script{ :src => "/javascripts/libs/modernizr-1.7.min.js" }

%body
  %header{ :role => "banner" }
    %hgroup
      %h1
        %a{ :href => "/" } Andy Croll
      %h2
        Web
        %span.amp &
        iPhone Designer + Ruby on Rails Developer
    #links
      %a.twitter.ir{ :href => "http://twitter.com/andycroll", :title => "@andycroll on twitter" } @andycroll
      %a.facebook.ir{ :href => "http://facebook.com/andycroll", :title => "on facebook" } facebook
      %a.github.ir{ :href => "http://github.com/andycroll", :title => "andycroll on github" } github
      %a.dribbble.ir{ :href => "http://dribbble.com/andycroll", :title => "Andy Croll on dribbble" } dribbble

  %aside#promotion
    %h1
      I help make stuff at
      %a{ :href => "http://anideo.com/", :title => "anideo: products for web and mobile" } anideo
    %a.tunedin{ :href => "http://tunedinapp.com", :title => "Event-based group chat" } TunedIn
    %a.todaysnews{ :href => "http://todaysnewsapp.com", :title => "Newspapers reinvented" } Today’s News
    %a.fotobookapp{ :href => "http://fotobookapp.com", :title => "Facebook Photos for iPhone, but better" } Fotobook

  %section{ :role => "main" }
    = yield

  %aside

  %footer{ :role => "contentinfo" }

  -# JAVASCRIPTS
  -# Optimized Google Analytics - http://t.co/HZe9oJ4 - Change UA-XXXXX-X to be your site's ID
  %script
    var _gaq=[['_setAccount','UA-3600024-13'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  -# %script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.js" }
  -# %script
  -#   window.jQuery || document.write("<script src='/javascripts/jquery-1.6.min.js'>\x3C/script>")
  %script{ :src => "/javascripts/plugins.js" }
  %script{ :src => "/javascripts/script.js" }
  %script{ :src => "http://use.typekit.com/oea6hqe.js" }
  %script
    try{Typekit.load();}catch(e){}
  /[if (lt IE 9) & (!IEMobile)]
    %script{ :src => "/javascripts/libs/selectivizr-1.0.1.js" }
    %script{ :src => "/javascripts/libs/respond.min.js" }
:plain
  </html>